<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/path/to/flash.min.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
</head>
<body>
      <div class="heads">
                    <div class="div_icon">

                    </div>
                 <div class="tittle">

                    </div>
                <div class="admin">
                    <a href="/"> Home </a>
                </div>
        </div>
<div class="allContent">
    <form action="client" method="post">
    <div class="login">
        <h2 class="login-header">Spaza Login</h2>
        <form class="login-container">
        <p><input type="text" placeholder="Enter Passcode" name="fname"></p>
        <p><input type="submit" name="fontSizeControl" value="submit"></p>
            <div class="p">
        <P>
            <div class="errorMessages">
                {{#if messages.errors}}
                <span>{{messages.errors}}</span>
                {{/if}}
            </div>
       </P>
    </div>
    </div>
    </form>
</div>
</body>

</html>